// 레이아웃 공통 스타일
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

// 컨테이너 스타일
.container {
    min-height: 100vh;
    padding: 3rem 1rem;
}

// 메인 콘텐츠 영역
.main-content {
    max-width: 1024px;
    margin: 0 auto;
}
