// 레이아웃 공통 스타일
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as f;

.ui {
    background: #f5f5f5;
    padding: 1rem;
    margin-left: f.to-rem(300);
    // max-width: 1200px;
    min-height: 100vh;

    &__header {
        position: fixed;
        top: 1rem;
        left: 1rem;
    }
}

article {
    margin: 2rem auto;
    padding: 1rem;
    min-height: 50vh;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

// 반응형 설정
@media (max-width: 768px) {
    .ui {
        margin-left: 0;
    }

    .sidebar {
        left: f.to-rem(-280);

        &--open {
            left: 0;
        }
    }
}
